# Private Config
app/config.json

# Logs
logs
*.log

# Grunt
.grunt

# Node
.lock-wscript
build/Release
node_modules

# Bower
public/libs

# SCSS
**/.sass-cache
**/.sass-cache/*

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Procfile
Procfile

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Gin
gin-bin
bin
